<div [class]="'theme ' + theme + '-theme'">
  <mat-drawer-container class="drawer-container" hasBackdrop="true">
    <mat-drawer #drawer mode="side" position="end">
      <mat-sidenav-container>
        <mat-toolbar color="primary">Settings</mat-toolbar>
        <br>
        <mat-nav-list>
          <mat-list-item>
            <mat-form-field>
              <mat-label>Theme</mat-label>
              <mat-select #mode [value]="theme" (selectionChange)=onChangeTheme($event)>
                <mat-option value="default">default</mat-option>
                <mat-option value="dark">dark</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      </mat-sidenav-container>
    </mat-drawer>
    <mat-drawer-content>

      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>{{ title }}</span>
          <span class="spacer"></span>
          <mat-icon class="icon" aria-hidden="false" aria-label="settings icon" (click)="drawer.toggle()">settings
          </mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="content"
        [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.page">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <mat-toolbar class="footer">
        <mat-toolbar-row>
          <span class="footer-title">{{ title }}</span>
          <span class="spacer"></span>
          <span class="footer-version">v.{{ version }}</span>
        </mat-toolbar-row>
      </mat-toolbar>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
