<div class="landing">
  <div class="landing-header">
    <div class="windmill">
      <div class="paddle">
        <mat-icon>toys</mat-icon>
      </div>
      <div class="base">
        <mat-icon>device_hub</mat-icon>
      </div>
    </div>
    <h3 class="landing-header-title"> {{title}} </h3>
  </div>
  <div class="get-started">
    <div class="get-started-wrapper">
      <div class="get-started-title">
        Get Started
      </div>
      <mat-list>
        <mat-list-item>- git clone https://github.com/devaof/angular-starter your-project</mat-list-item>
        <mat-list-item>- cd your-project</mat-list-item>
        <mat-list-item>- yarn</mat-list-item>
        <mat-list-item>- ng serve</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="started-with">
    <div class="get-started-wrapper">
      <div class="get-started-title">
        Started With
      </div>
      <mat-chip-list class="started-with-items">
        <mat-chip color="warn" selected>Animations</mat-chip>
        <mat-chip color="warn" selected>Themes</mat-chip>
        <mat-chip color="warn" selected>NGRX Store</mat-chip>
        <mat-chip color="warn" selected>Angular Material</mat-chip>
        <mat-chip color="warn" selected>Material Icon</mat-chip>
        <mat-chip color="warn" selected>Structural</mat-chip>
      </mat-chip-list>

    </div>
  </div>
</div>
